r_dir_file(system_suspend, sysfs_tran_auto_test)
allow system_suspend sysfs_batteryinfo:dir { read open };
#dontaudit system_suspend sysfs_batteryinfo:file read;
